.content {
	height: auto;
	width: 100%;
	min-width: 1200px;
}

.inner_bg {
	padding: 100px 0 170px 0;
	background-image: url(../../images/bg_2.jpg);
	min-height: 960px;
}

.container {
	width: 1170px;
}

.title {
	margin-left: 40px;
	font-size: 38px;
	font-weight: 100;
	color: #fff;
	line-height: 100px;
	
}

.form-top-left {
	float: left;
}

.form-top-right {
	float: left;
	font-size: 40px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 220px;
	background: #D6E9C6;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-bottom {
	padding: 25px 25px 30px 80px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
	background-color: beige;
}
.btn_login{
	margin-left: 10px;
	width: 120px;
	
	
}
.btn_register{
	margin-left: 140px;
	width: 120px;
}
.remember{
	padding: 0 0 25px 0px;
}
.remember ul li{
	float: left;
}
.forget{
	padding: 0 0 25px 0px;
	margin-top: -35px;
}
.forget ul li{
	float: right;
}